<mat-toolbar>
  <mat-icon aria-hidden="false" aria-label="Example home nanda">
      <a href="/home" class="icon">home </a>
  </mat-icon>
  </mat-toolbar>
  <div class="container" >
      <form action="/action_page.php">
        <div class="row">
          <div class="col">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="submit btn">
              <a href="/submit" style="color:whitesmoke;" class="btn">Submit</a>
            </div>
          </div>
            <div class="col">
              <div class="signup btn">
              <a href="/signup" style="color:whitesmoke" class="btn">SignUp</a>
            </div>
            <div class="col">
              <a href="#" style="color:black" class="btn">Forgot password?</a>
            </div>
            </div>
        </div>
      </form>
  </div>