<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>This Website is degined by the help of a team and the embers are displayed Below.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="190030005" style="width:100%">
        <div class="container">
          <h2>A.SAMPAT KUMAR</h2>
          <p class="title">Developer</p>
          <p>190030005@kluniversity.in</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="190030180" style="width:100%">
        <div class="container">
          <h2>B.N.S.SAI KIRAN</h2>
          <p class="title">Developer</p>
          <p>190030180@kluniversity.in</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="190030176" style="width:100%">
        <div class="container">
          <h2>B.SAI RAM KRISHNA</h2>
          <p class="title">Developer</p>
          <p>190030176@kluniversity.in</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
